<div class="bg-light lter b-b wrapper-md">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="m-n font-thin h3">Profile</h1>
    </div>
    <div class="col-sm-6 text-right hidden-xs">
      <div class="inline m-r text-left">
        <div class="m-b-xs">
          <button class="btn btn-primary btn-addon btn-sm" data-toggle="modal" data-target="#editprofile" data-backdrop="static">
            <i class="fa fa-pencil"></i>Edit Profile</button>
          <button class="btn btn-secondary btn-addon btn-sm" data-toggle="modal" data-target="#changepass" data-backdrop="static">
            <i class="fa fa-pencil"></i>Change Password</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <!-- <div  class="panel-heading font-bold">
            Leave History
          </div> -->
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 top" align="center">
          <div class="image" [ngStyle]="{'background-image': 'url(' + photo + ')'}"></div>
          <div>
            <strong>{{profiledata?.name}}</strong>
          </div>
          <div>
            <strong>{{profiledata?.designation}}</strong>
          </div>
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered">

            <tbody>

              <tr>
                <th>Joining Date</th>
                <td>{{profiledata?.joindate | date: 'dd/MM/yyyy'}}</td>

              </tr>
              <tr>
                <th>RM Name</th>
                <td>{{profiledata?.rmname}}</td>

              </tr>
              <tr>
                <th>Official E-Mail ID</th>
                <td>{{profiledata?.email}}</td>

              </tr>
              <tr>
                <th>Alternate E-Mail ID</th>
                <td>{{profiledata?.alternateemailid}}</td>

              </tr>

              <tr>
                <th>Gender</th>
                <td>{{profiledata?.gender}}</td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered">

            <tbody>
              <tr>
                <th>Mobile</th>
                <td>{{profiledata?.mobile}}</td>

              </tr>


              <tr>
                <th>Date Of Birth</th>
                <td>{{profiledata?.dateofbirth | date: 'dd/MM/yyyy'}}</td>

              </tr>
              <tr>
                <th>Marital Status</th>
                <td>{{profiledata?.maritalstatus}}</td>

              </tr>
              <tr>
                <th>Permanent Address</th>
                <td>{{profiledata?.permanentaddress}}</td>

              </tr>
              <tr>
                <th>Temporary Address</th>
                <td>{{profiledata?.temporaryaddress}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- apply leave -->
<div id="editprofile" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- <form [formGroup]="examForm" (ngSubmit)="onFormSubmit()"> -->
    <form [formGroup]="updateprofileForm">
      Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Profile</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <!-- <div  class="panel-heading font-bold">
                        Leave History
                      </div> -->
            <div class="panel-body">
              <div class="row">
                <div class="col-md-5" align="center">
                  <div class="image" [ngStyle]="{'background-image': 'url(' + photo + ')'}"></div>
                  <br>
                  <div>
                    <input data-classbutton="btn btn-default" data-classinput="form-control inline v-middle input-s" data-icon="false" id="filestyle-0"
                      style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" tabindex="-1" type="file" ui-jq="filestyle"
                      (change)="saveProfileimage($event)" accept="image/x-png,image/gif,image/jpeg">
                    <div class="bootstrap-filestyle input-group">
                      <input class="form-control " disabled="" type="text">
                      <span class="group-span-filestyle input-group-btn" tabindex="0">

                        <label class="btn btn-default " for="filestyle-0">
                          <span class="glyphicon glyphicon-folder-open"></span> Change profile pic</label>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Alternate E-Mail ID</label>
                        <input class="form-control " type="text" placeholder="NA" formControlName="alternateemailid">
                      </div>

                      <div class="form-group">
                        <label>Mobile</label>
                        <input class="form-control " type="text" placeholder="NA" formControlName="mobile">
                      </div>

                      <div class="form-group">
                        <label>Marital Status</label>
                        <select class="form-control" formControlName="maritalstatus" formControlName="maritalstatus">
                          <option>Single</option>
                          <option>Married</option>
                        </select>
                        <!-- <small *ngIf="!addemployeeForm.controls['gender'].valid && addemployeeForm.controls['gender'].touched" style="color:red;">Select Gender</small> -->
                      </div>
                      <div class="form-group">
                        <label>Permanent Address</label>
                        <input class="form-control " type="text" placeholder="NA" formControlName="permanentaddress">
                      </div>
                      <div class="form-group">
                        <label>Temporary Address</label>
                        <input class="form-control " type="text" placeholder="NA" formControlName="temporaryaddress">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- {{updateprofileForm.value | json}} -->
          <!-- <button type="submit" class="btn btn-sm btn-primary" [disabled]="!examForm.valid">Submit</button> -->
          <button type="submit" class="btn btn-sm btn-primary" (click)="updateprofile()" [disabled]="updateprofileForm.invalid">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Change Password -->
<div id="changepass" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- <form [formGroup]="examForm" (ngSubmit)="onFormSubmit()"> -->
    <form [formGroup]="changepassprofileForm">
      Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <!-- <div  class="panel-heading font-bold">
                          Leave History
                        </div> -->
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="input-group">
                            <label>Current Password</label>
                            <input class="form-control " type="{{oldtype}}" placeholder="Current Password" formControlName="oldpassword">
                           
    
                            <div class="input-group-btn">
                              <button class="btn btn-default" (click)="toggleold()">
                                <i [ngClass]="eyetypeold" [ngStyle]="{'color': oldcolor}"></i>
                              </button>
                            </div>
                            
                          </div>
                          <small *ngIf="!changepassprofileForm.controls['oldpassword'].valid && changepassprofileForm.controls['oldpassword'].touched"
                          style="color:red;">Minimum 8 characters, at least 1 letter, 1 numeric and 1 special character</small>
                          <!-- <div class="form-group">
                            <label>Current Password</label>
                            <input class="form-control " type="password" placeholder="Current Password" formControlName="oldpassword">
                            <small *ngIf="!changepassprofileForm.controls['oldpassword'].valid && changepassprofileForm.controls['oldpassword'].touched"
                              style="color:red;">Minimum eight characters, at least one letter, one number and one special character</small>
                          </div> -->
                          <div class="input-group">
                              <label>New Password</label>
                              <input class="form-control " type="{{currenttype}}" placeholder="New Password" formControlName="password">
                              
                              <div class="input-group-btn">
                                <button class="btn btn-default" (click)="togglecurrent()">
                                  <i [ngClass]="eyetypecurrent" [ngStyle]="{'color': currentcolor}"></i>
                                </button>
                              </div>
                            </div>
                            <small *ngIf="!changepassprofileForm.controls['password'].valid && changepassprofileForm.controls['password'].touched" style="color:red;">Minimum 8 characters, at least 1 letter, 1 numeric and 1 special character</small>
                          <!-- <div class="form-group">
                            <label>New Password</label>
                            <input class="form-control " type="password" placeholder="New Password" formControlName="password">
                            <small *ngIf="!changepassprofileForm.controls['password'].valid && changepassprofileForm.controls['password'].touched" style="color:red;">Minimum eight characters, at least one letter, one number and one special character</small>
                          </div> -->
                          <div class="input-group">
                              <label>Confirm Password</label>
                              <input class="form-control " type="{{confirmtype}}" placeholder="Confirm Password" formControlName="confirmpassword">
                              
                              <div class="input-group-btn">
                                <button class="btn btn-default" (click)="toggleconfirm()">
                                  <i [ngClass]="eyetypeconfirm" [ngStyle]="{'color': confirmcolor}"></i>
                                </button>
                              </div>
                            </div>
                            <small *ngIf="!changepassprofileForm.controls['confirmpassword'].valid && changepassprofileForm.controls['confirmpassword'].touched"
                                style="color:red;">Minimum 8 characters, at least 1 letter, 1 numeric and 1 special character</small>
                          <!-- <div class="form-group">
                            <label>Confirm Password</label>
                            <input class="form-control " type="password" placeholder="Confirm Password" formControlName="confirmpassword">
                            <small *ngIf="!changepassprofileForm.controls['confirmpassword'].valid && changepassprofileForm.controls['confirmpassword'].touched"
                              style="color:red;">Minimum eight characters, at least one letter, one number and one special character</small>
                          </div> -->
    
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="submit" class="btn btn-sm btn-primary" [disabled]="!examForm.valid">Submit</button> -->
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!changepassprofileForm.valid" (click)="changepass()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Add Exam -->
<!-- <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <form [formGroup]="examForm" (ngSubmit)="onFormSubmit()">
        Modal content
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" >&times;</button>
            <h4 class="modal-title">Add New Exam</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="form-group">
                      <label>Exam Name</label>
                      <input type="text" class="form-control" placeholder="Enter Exam Name" formControlName="subcatname" maxlength="25">
                      <small *ngIf="!examForm.controls['subcatname'].valid && examForm.controls['subcatname'].touched" style="color:red;"> Enter Exam count (min 3 & max 25 characters )</small>
                    </div>
                    <div class="form-group">
                      <label>Select Category</label>
                      <select name="category" class="form-control" formControlName="categoryid" [ngClass]="{
                        'has-danger': examForm.controls.categoryid.invalid &&    examForm.controls.categoryid.touched, 
                        'has-success': examForm.controls.categoryid.valid && examForm.controls.categoryid.touched 
                      }">
                        <ng-container *ngFor="let getcategories of getcategorydata;">
                          <option value="{{getcategories._id}}">{{getcategories.name}}</option>
                        </ng-container>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Select Duration</label>
                      <select name="category" class="form-control" formControlName="duration" [ngClass]="{
                        'has-danger': examForm.controls.duration.invalid &&    examForm.controls.duration.touched, 
                        'has-success': examForm.controls.duration.valid && examForm.controls.duration.touched 
                      }">
                        <option value="0.30">30 Minutes</option>
                        <option value="1.00">1 Hour</option>
                        <option value="1.30">1 Hour 30 Minutes</option>
                        <option value="2.00">2 Hours</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>No. Of Questions</label>
                      <input type="number" class="form-control" placeholder="No. Of Questions" formControlName="size">
                      <small *ngIf="!examForm.controls['size'].valid && examForm.controls['size'].touched" style="color:red;">No. Of Questions should be Number </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="!examForm.valid">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
          </div>
        </div>
      </form>
    </div>
  </div> -->