<div class="bg-light lter b-b wrapper-md">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="m-n font-thin h3">Calender</h1>
    </div>
    <div class="col-sm-6 text-right hidden-xs">

    </div>
  </div>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <!--/calender-->
          <div class="cal-main">
            <div class="calender graph-form">

              <!-- <h2 class="inner-tittle"> &nbsp; &nbsp;Calendar</h2> -->
              <div class="enablecal" id="calendar"></div>
              <br>
              <div style="display: -webkit-inline-box;"> &nbsp;
                <div style="width:20px;height:20px;background: #3c3c47;"></div>
                <div>&nbsp;Holidays&nbsp;</div>
                <div style="width:20px;height:20px;background:#d60312;"></div>
                <div>&nbsp;Today</div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>